# ROS 2 Build Artifacts (Machine Specific - DO NOT SHARE)
build/
install/
log/

# Python Cache
__pycache__/
*.py[cod]

# Editor Configs (Optional, but recommended)
.vscode/
.idea/
*.swp

timesim/data/
timesim/output/

*.mcap
*.db3
*.npy

__pycache__/
*.pyc

.env

